@import './mixins.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', 'Roboto', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  font-size: 0.95rem;
  line-height: 1.5;
  background-color: $white;
  color: $text-color-2;
}

a {
  text-decoration: none;
  color: inherit;
}